{% extends 'base.html' %}

{%block header_content%}
    {%include 'navigation.html'%}
{%endblock%}


{%block content%}

<div class="container mt-5">
    <div class="columns is-multiline">
        <div class="column is-12">
            <div class="card">
                <div class="card-content has-text-centered">
                    <p class="title is-5">Successfuly ordered</p>
                    <p class="title is-5">#{{order.id}}</p>
                    <p class="title is-5">{{order.get_total}}$</p>
                    <p class="title is-5">You can download your item in your profile</p>
                    <a href="{%url 'account:orders'%}" class="button is-primary">My Orders</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        {%for item in order.items.all%}
            <div class="columns is-multiline">
                <div class="column is-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="container is-flex flex-direction-column is-justify-content-space-around is-align-content-center">
                                <figure class="image is-128x128">
                                    <img src="{{item.get_photo}}"></img>
                                </figure>
                                <p class="title is-5">{{item.name}}</p>
                                <p class="title is-5">
                                    <a href="{{ item.file.url }}" download>
                                        <span class="icon button is-outlined is-rounded is-primary p-4">
                                            <i class="fa-solid fa-download"></i>
                                        </span>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {%endfor%}
    </div>
</div>
                           

{%endblock%}